{
  "extends": "airbnb",
  "env": {
    "node": true,
    "es6": true,
    "browser": true,
    "jest": true,
  },
  "parser": "babel-eslint",
  "rules": {
    "import/no-extraneous-dependencies": [
      "error",
      {
        "devDependencies": true
      }
    ],
    "import/prefer-default-export": "off",
    "comma-dangle": ["error",{
      "functions": "ignore"
    }],
    "no-param-reassign": "off",
    "no-shadow": "off",
    "import/no-named-as-default": "off"
  }
}
